* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --t-main: #b91547;
  --t-secondary: #757575;
  --t-dark: #010101;
  --t-light: #ffffff;
}

.debug {
  min-height: 100px;
  min-width: 100px;
  .card,
  .ticket_card_container {
    min-height: 180px;
  }
}

h1 {
  color: var(--t-light);
  text-transform: uppercase;
  text-align: center;
}

body {
  background-color: var(--t-main);
}

.card,
.ticket_card_container {
  background-color: var(--t-light);
}

label {
  color: var(--t-main);
  font-weight: 500;
}

button {
  background-color: lightgray;
  padding: 0.3rem;
  border-radius: 5px;
  border: solid 1px black;
  color: var(--t-main);
  font-weight: bold;
}

button:hover {
  border-color: orange;
}

input {
  border-color: red;
}

.left_ticket {
  background-color: var(--t-secondary);
}

.right_ticket {
  border-top: 1px solid var(--t-secondary);
  border-bottom: 1px solid var(--t-secondary);
  padding-left: 2rem;
}

h4,
h5 {
  font-weight: 700;
}

.left_ticket,
.right_ticket {
  min-height: 100px;
}
